


.box1 {
    background: #1F2937;
    border: 4px solid red;
    height: 100px;
    padding: 50px;
    display: flex;
    
    
}

.header-logo {

    flex: 1;
    border: 4px solid red;
    margin-right: 200px;
    margin-left: 100px;
    color: #F9FAF8;
    font-size: 24px;
    align-self: flex-start;
    

}

.header-link1 {
   
    flex: 1;
    border: 4px solid red;
    align-self: flex-start;
    
}

.header-link2 {
   
    flex: 1;
    border: 4px solid red;
    align-self: flex-start;
}
.header-link3 {
    
    flex: 1;
    border: 4px solid red;
    align-self: flex-start;
    margin-right: 50px;
   
}


.box-of-one {
    display: flex;
    border: 4px solid red;

}

.image-box {
    display: flex;
    border: 4px solid red;
}

.text-box-text{
    flex: 1;
    border: 4px solid red;

}
.sign-up {

    flex: 1;
    border: 4px solid red;
}
 


.box2 {
    background: white;
    border: 4px solid red;
    height: 100px;
    padding: 50px;
    display: flex;
}


.box3 {
    background: #E5E7EB;
    border: 4px solid red;
    height: 100px;
    padding: 50px;
    display: flex;

    color: #1F2937;
    font-size: 36px;
    font-style:  italic;
        
}

.box4 {
    background: white;
    border: 4px solid red;
    height: 100px;
    padding: 50px;
    display: flex;
}

.box5 {
    background: #1F2937;
    border: 4px solid red;
    height: 100px;
    padding: 50px;
    display: flex;
}
