.flex-container {
    margin: -10px;
}


/* Navbar */

nav {
    display: flex;
    background: #1F2937;
    border: 2px solid red;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
}

ul {
    list-style: none;
    color: grey;
    display: flex;
    margin-right: 5rem;
    align-items: center;
}

.header-logo {
    margin-right: auto;
    margin-left: 8rem;
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.header-link {
    margin-right: 2rem;
}


/* End of Navbar */

.box1 {
    background: #1F2937;
    height: 100px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-box {
    border: 2px solid red;
    display: flex;
}

.hero-left-box {
    border: 2px solid red;
}

.main-text {
    display: flex;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.secondary-text {
    display: flex;
}

.hero-sign-up {
    border-radius: 5px;
    color: white;
    background-color: #3882F6;
    margin: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.hero-right-box {
    border: 2px solid red;
}

.hero-img {
    height: 50px;
    width: 60px;
}

.box2 {
    background: white;
    height: 220px;
    padding: 30px;
    text-align: center;
}

.box-box {
    display: flex;
    text-align: center;
    justify-content: center;
}

.box2-image {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}

.title {
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
    margin-bottom: 32px;
}

.box3 {
    background: #E5E7EB;
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    align-items: center;
    justify-content: center;
}

.box3-text {
    margin: 100px;
}

.box4 {
    background: white;
    height: 100px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    border-radius: 5px;
    gap: 16px;
}


/* DOnt forget to add color effect from the youtube shorts video*/

.call-to-action-box1 {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.call-to-action-text {
    color: white;
    font-weight: bold;
}

.sign-up-text {
    display: flex;
    color: white;
}

.call-to-action-box2 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.call-to-action-button {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background-color: #3882F6;
    margin: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}


/* Footer */

.box5 {
    background: #1F2937;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.copyright {
    color: white;
    margin: 20px;
}