


.box1 {
    background: #1F2937;
 
    height: 100px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header {

    border: 2px solid red;
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    
  
}

.header-logo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    
    margin-left: 10rem;
    margin-right: auto;
 
}

ul {
    
  list-style:none;
  
  display: flex;
 color: grey;
 
 margin-right: 10rem;
 gap: 15px;
  
}


.box2 {
    background: white;
    height: 100px;
    padding: 50px;
    display: flex;
}


.box3 {
    background: #E5E7EB;
   
    height: 100px;
    padding: 50px;
    display: flex;

    color: #1F2937;
    font-size: 36px;
    font-style:  italic;
    align-items: center;
        
}

.box4 {
    background: white;
    
    height: 100px;
    padding: 50px;
    display: flex;
}

.box5 {
    background: #1F2937;
    
    height: 100px;
    padding: 50px;
    display: flex;

    
    
}

.copyright {
    color: grey;
    
   

}